* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgba(6, 23, 30, 1);
}

header {
  height: 81px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: rgba(9, 33, 42, 1);
}

.headline_logo {
  height: 41px;
  position: relative;
  left: calc((100vw - 1440px) / 2 + 135px);
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
.main_content {
  width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

h1 {
  color: white;
  font-family: "Figtree";
  font-weight: 800;
  font-size: 56px;
  text-align: center;
}

h2 {
  color: white;
}

.album_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.gallery_image {
  height: 150px;
  width: 150px;
  border: 2px solid rgba(18, 70, 88, 1);
  border-radius: 16px;
}

.gallery_image:hover {
  border: 2px solid rgba(107, 193, 225, 1);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(9, 33, 42, 1);
  height: 128px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 225px;
  height: 65px;
}
